[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vneelavara
	owner = group vneelavara
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vneelavara
	label-Code-Review = -2..+2 group vneelavara
	label-Verified = -1..+1 group user/vneelavara
	label-Verified = -1..+1 group vneelavara
	push = group user/vneelavara
	push = group vneelavara
	read = group user/vneelavara
	read = group vneelavara
	rebase = group user/vneelavara
	rebase = group vneelavara
	removeReviewer = group user/vneelavara
	submit = group user/vneelavara
	submit = group vneelavara
[access "refs/heads/*"]
	create = group user/vneelavara
	create = group vneelavara
	push = +force group user/vneelavara
	push = group vneelavara
	pushMerge = group user/vneelavara
	pushMerge = group vneelavara
	read = group user/vneelavara
[access "refs/tags/*"]
	push = group user/vneelavara
	push = +force group user/vneelavara
[receive]
	requireChangeId = true
